//CUSTOM IMPORT
@import "../../../assets/_variables.scss";


#text-box{
  width: 56rem;
  height: 5rem;
  font-size: 2.5rem;
}
#search-component{
  height: 5rem;
}
.flex{
  display: flex;
}
.icon{
  &.refresh {
    cursor: pointer;
    color:white;
    font-size: 5rem;

    &.loading {
      -webkit-animation-name:             rotate;
      -webkit-animation-duration:         1.5s;
      -webkit-animation-iteration-count:  infinite;
      -webkit-animation-timing-function:  linear;
    }
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
