h1 {
  font-size: 8rem;
  color: #fff;
  font-weight: 300;
  font-family: "Open Sans";
  margin-bottom: 10px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item{

}
#logo{
  height: 100%;
  margin-bottom: 5rem;  //Must this be 'rem' or 'px'?
}
