h1 {
  font-size: 8rem;
  color: #fff;
  font-weight: 300;
  font-family: "Open Sans";
  margin-bottom: 10px;
}
.main-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.container {
  width: 65rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
#logo {
  width: 30rem;
  margin-bottom: 5rem;  //Must this be 'rem' or 'px'?
}
