/* You can add global styles to this file, and also import other style files */
html{
  font-size:62.5%;
  text-size-adjust: 100%;
}
/* We tell all items to be 100% width */
*{
  box-sizing: border-box;
}
.flex{
  display: flex;
}
